{
  "log": {
    "_recordingName": "https://google.com/",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ab683d21e3dff4afad96079a9111305d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": null
            },
            {
              "name": "cp",
              "value": "0"
            },
            {
              "name": "client",
              "value": "psy-ab"
            },
            {
              "name": "xssi",
              "value": "t"
            },
            {
              "name": "gs_ri",
              "value": "gws-wiz"
            },
            {
              "name": "hl",
              "value": "de"
            },
            {
              "name": "authuser",
              "value": "0"
            },
            {
              "name": "psi",
              "value": "kXXvXvWvCcn6kwWunaD4BA.1592751505760"
            },
            {
              "name": "ei",
              "value": "kXXvXvWvCcn6kwWunaD4BA"
            },
            {
              "name": "nolsbt",
              "value": "1"
            }
          ],
          "url": "https://www.google.com/complete/search?q&cp=0&client=psy-ab&xssi=t&gs_ri=gws-wiz&hl=de&authuser=0&psi=kXXvXvWvCcn6kwWunaD4BA.1592751505760&ei=kXXvXvWvCcn6kwWunaD4BA&nolsbt=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 438,
            "text": ")]}'\n[[[\"übersetzung englisch\",0,[362,308,154,357],{\"zl\":40009}],[\"wie mache ich einen screenshot\",0,[362,308,154,357],{\"zl\":40009}],[\"garten anlegen\",0,[362,308,154,357],{\"zl\":40009}],[\"wie wird das wetter morgen\",0,[362,308,154,357],{\"zl\":40009}],[\"top burger in der nähe\",0,[362,308,154,357],{\"zl\":40009}],[\"rezepte zum backen\",0,[362,308,154,357],{\"zl\":40009}]],{\"ag\":{\"a\":{\"40009\":\"Suche nach\"}},\"q\":\"VZApOTaMypcgmf5omRpo0HegrWc\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "status",
              "value": "200"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=\"f.txt\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1120,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
